@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.no-vertical-margin {
  margin-top: 4px;
}

.double-space {
  line-height: 2em;
}

.nav-image-links {
  margin: 0px;
  padding: 0px;
}

.social-icons {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  right: 10px;
  box-shadow: 0px 0px 40px white;
  background: rgba(255, 255, 255, 0.8);
}


/*=======================================================
=            Style for the full width footer            =
=======================================================*/

.container-full {
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  left: 0;
}

.footer-form {
  float: left;
  list-style: none;
}

/*-----  End of Style for the full width footer  ------*/



/*=======================================================================
=            Brown border for some of the blocks on the page            =
=======================================================================*/

.navbar-default {
  border-bottom: 3px solid #bb9a6b;
  border-top: 3px solid #bb9a6b;
}

.brown-border-top {
  border-top: 3px solid #bb9a6b; 
}

.panel-heading-border {
  border-bottom: 3px solid #bb9a6b;
  border-top: 3px solid #bb9a6b;
}

.panel-heading .panel-title h2 {
  margin: 6px 0px;
  font-size: 30px;
}

/*-----  End of Brown border for some of the blocks on the page  ------*/


/*==================================================
=            Styles for the head banner            =
==================================================*/

.wide {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

/*-----  End of Styles for the head banner  ------*/



/*==========  Set global link color to dark green  ==========*/
a {
  color: #023517;
}

/*==========  Set panel titles to dark green color  ==========*/
.panel-title {
  color: #023517;
}


/*==========  Style for the open hours block on the home page  ==========*/
#homepage-panel div {
  padding: 0 4% 2% 4%;
}


/*==========================================================
=            Volunteer and Donate button styles            =
==========================================================*/

.full-width {
  width: 80%;
  color: #023517 !important;
}

/*-----  End of Volunteer and Donate button styles  ------*/




/*==========  Style to add vertical lines on top nav  ==========*/
.main-nav {
  li {
    a {
      border-right: 1px solid #000;
      width: 100%;
    }
  }
}

/*=============================================
=            Styles for the footer            =
=============================================*/

.footer-nav {
  float: left;
  width: 25%;
  text-align: center;
  list-style: none;
  border-right: 1px solid #000;

  a:hover {
    text-decoration: none;
    color: #a0cdb4;
  }
}

.footer-nav:last-of-type {
  border: none;
}

.full-width:hover {
  color: #a0cdb4 !important;
}

/*-----  End of Styles for the footer  ------*/


/*===============================================================
=            Gradient styles for the nav and buttons            =
===============================================================*/

.green-white-gradient {
  background: linear-gradient(to top, #a0cdb4, #fff, #a0cdb4);
}

.yellow-white-gradient {
  background: linear-gradient(to top, #f7f79c, #fff, #f7f79c);
  border: 2px solid #023517;
  font-size: 30px;
  color: #000;
}

.btn-sm {
  margin: 0;
  font-size: 18px;
}

/*-----  End of Gradient styles for the nav and buttons  ------*/



// #0E713B Dark green btn color
// #F8DA08 Light green btn color